{% extends "base.html" %}

{% block title %}LKProfessionals (Pvt) Ltd. | IT Solutions{% endblock %}

{% block content %}
{% include "components/about/hero.html" %}
{% include "components/about/company.html" %}
{% include "components/about/visionmission.html" %}
{% include "components/about/founder.html" %}
{% include "components/about/lkpdifferent.html" %}
{% include "components/about/companytimeline.html" %}
{% include "components/about/serviceecosystem.html" %}
{% include "components/about/teckstack.html" %}
{% include "components/about/industries.html" %}
{% include "components/about/workprocess.html" %}
{% include "components/about/culture.html" %}


    
{% endblock %}