{% extends "base.html" %}

{% block title %}LKProfessionals (Pvt) Ltd. | IT Solutions{% endblock %}

{% block content %}
{% include "components/home/hero.html" %}
{% include "components/home/about.html" %}
{% include "components/home/services.html" %}
{% include "components/home/featured.html" %}
{% include "components/home/industries.html" %}
{% include "components/home/portfolios.html" %}
{% include "components/home/whylkp.html" %}
{% include "components/home/process.html" %}
{% include "components/home/testimonial.html" %}
{% include "components/home/insights.html" %}


    
{% endblock %}